#container{
	margin:auto 20%;
	background-color:gray;
	padding:10px;
}
label{
	color:blue;
	padding:5px;

}
input[type],select{
	border-radius:5px;
	padding:5px;
	margin:5px;

}
.sub{
	border:none;
	background-color:blue;
	color:white;
	
}
.sub:hover{
	background-color:white;
	color:black;
}